<div class="container">
        <div class="row">
          <div class="col-md-12 ">
            <form  method="POST" id="form-empleado" action="/Empedit">
              <div class="card text-center w-100">
                <div class="card-header bg-primary text-white">
                  <h2>Editar Empleado</h2>
                </div>    
                {{#if result}}        
                    {{#each result}}
                {{> empleadoForm}}
                    {{/each}}
              </div>                
            </form>
          </div>
        </div>
      </div>

<script type="text/javascript" src="js/jquery-3.6.0.js"></script>    
<script type="text/javascript" src="js/jquery-ui.js"></script>
<script>      
  let formempleado = $("#form-empleado");
  $("#form-empleado").submit(async function(e){
    //$('#add').on('click', async function(){
    let cliente = $("#nombre").val();
    let email = $("#email").val();
    let direccion = $("#direccion").val();
    let telefono = $("#telefono").val();
    let cedula = $("#cedula").val();
    let estado = $("#estado").val();

    let errors = [];
    await errors.push(alertconfirm("Nombre", cliente,'string',20))
    await errors.push(alertconfirm("Email", email,'string',50))
    await errors.push(alertconfirm("Dirección", direccion,'string',20))
    await errors.push(alertconfirm("Telefono", telefono,'string',15))
    await errors.push(alertconfirm("Cedula", cedula,'string',10))
    await errors.push(alertconfirm("Estado",estado,'array',0))             
      const allcheck =  array => array.every(value => value === array[0])
      const check = allcheck(errors)
      if (check) {
        $.confirm({
            title:"Empleado ingresado con exito!",
            content:"Redirecionando a listado de Empleados...",
            icon: 'fa fa-check',
            theme: 'modern',
            closeIcon: true,
            animation: 'news',
            closeAnimation: 'news',
            type: 'green',
            columnClass:'col-md-6 col-md-offset-3',
            autoClose: 'okay|4000',
            buttons: {
                okay: function () {
                  setTimeout( function() {
                    e.submit();
                  }, 4000)
                },
            }            
        })
      }else{
          e.preventDefault();        
          $.confirm({
          title:"Error",
          content:errors,
          icon: 'fa fa-xmark',
          theme: 'modern',
          closeIcon: true,
          animation: 'news',
          closeAnimation: 'news',
          type: 'red',
        })
      }      
    });
});        
</script>